// Place all the styles related to the SPA::Pray controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.bible-verse{
  font-size: 15px;
  font-style: italic;
}
.card-sub-header{
  font-size: 14px;
}
