<h1>Editing Church Pray Petition</h1>

<%= render 'form', church_pray_petition: @church_pray_petition %>

<%= link_to 'Show', @church_pray_petition %> |
<%= link_to 'Back', church_pray_petitions_path %>
